#footer {
    width: 100%;
    height: auto;
    color:#e6e0bf;
    background-color:#5b2627 ;
    padding-top:10px;
    font-family: Bebas;
    src: url("Bebas-Regular.ttf")
}

.adress {
    font-size:17px;
    line-height: 24px;
    text-align: center;
    display: block;

}

.contactperson {
    font-size:25px;
    line-height: 24px;
    text-align: center;
    display: block

}

.footercpr {
    font-size:12px;
    line-height: 28px;
    text-align: center;
    display:block;
    color:#be912f;

}