#header {
    width: 100%;
    height: 170px;
    background-color: #5b2627 ;

}

.TIGATIK {
    color:#e6e0bf;
    font-family: Signation;
    src: url("Signation.ttf");
    text-align: center;
}

