#header {
    width: 100%;
    height: 340px;
    background-color: #5b2627 ;
    background-image: url(../header.jpg);
    background-size: cover;

}

.TIGATIK {
    color:#be912f;
    font-family: Roboto;
    src: url("Roboto-Condensed.ttf");
    text-align: center;
    padding-top: 120px;
    font-size:40px;

}


.navbarhead {
    background-color: #be912f;
    overflow: hidden;
    color: #e6e0bf;
    font-family: Roboto;
    src: url("Roboto-Condensed.ttf");
}

.home {
    background-color: #be912f;
    color: #e6e0bf;
    font-family: Roboto;
    src: url("Roboto-Condensed.ttf");
    font-size: 27px;
    padding-right: 9px;
    text-decoration: none;

}

.ourproject {
    background-color: #be912f;
    color: #e6e0bf;
    font-family: Roboto;
    src: url("Roboto-Condensed.ttf");
    font-size: 27px;
    padding-right: 9px;
    text-decoration: none;
}

.reqruitment {
    background-color: #be912f;
    color: #e6e0bf;
    font-family: Roboto;
    src: url("Roboto-Condensed.ttf");
    font-size: 27px;
    padding-right: 9px;
    text-decoration: none;

}

.talent {
    background-color: #be912f;
    color: #e6e0bf;
    font-family: Roboto;
    src: url("Roboto-Condensed.ttf");
    font-size: 27px;
    padding-right: 9px;
    text-decoration: none;

}

